#createPrTeam label{
    display:inline-block; 
    vertical-align: middle;
    float:left;
    margin-left: 14px;
    width: 150px;
    text-align: left;
}

.teamcreateclass{
    display:inline-block; 
    vertical-align: middle;
    border: 1px solid #000;
    border-radius: 3px;
    margin-left: -183px;
    width: 200px;
}

.addmembers{
    border-radius: 3px;
    border: 1px solid #000;
    background-color: #3366FF;
    color: white;   
    float: right;
    margin-right: 10px;
}

.create_team{
    border-radius: 3px;
    border: 1px solid #000;
    background-color: #3366FF;
    color: white;   
    float: right;
    margin-right: 14px;
}


.dash{
    border: 0 none;
    border-top: 2px dashed #322f32;
    background: none;
    height:0;
    width: 95%;
} 
