

body {font-family: arial;} 

--------------------------------------------------------------------------------------------------
#main {}



.klover{cursor:pointer;}
.klover:hover{text-decoration:underline;}
#footer:{margin:5px 0 10px 0;}
.addbox {width:600px; height:123px; padding:4px 7px; margin-bottom:10px; background:#fff; border-bottom:2px solid #000 ;font-size:14px;z-index:10;}
.addbox:hover {background:orange;cursor:ponter;}
 .addpic {width:150px; height:110px; margin:3px 0; border:2px solid #eee; box-shadow:0px 0px 4px #000;float:left;cursor:ponter;z-index:11;}
 .addleft{float:left;cursor:ponter;}

.addtitle { margin:3px 0 3px 178px;color:#8e2526;font-weight:bold;font-weight:bold;cursor:ponter;z-index:12; }
.addtxt {height:90px; overflow:hidden; font-size:12px;cursor:ponter;z-index:13;}
.logoh {}
.logo {margin-top:-10px;float:right;cursor:ponter;}
.logo :hover {cursor:ponter;}
#content {
    width:660px;
    min-height:570px;
  
    margin-left:182px;
}



.index table{width:220px; margin-top:58px; margin-left:80px;vertical-align:middle;}

.index calendar th {
    padding: 0 0 10px;
    text-align: center;
    color:black;
    font-size:13px;
    
    
    }

/* Styling for the individual cells (days) */
.index td  {     
    font-size: medium;
    border:1px solid;
    padding: 0.25em 0.25em;   
    width: 14%; 
    height: 80px;
    text-align: left;
    vertical-align: top;
    }


#news table{font: 11px Verdana, Arial, Helvetica, sans-serif;
    table-layout: fixed;
    border-collapse: collapse;
    width: 631px;}
#news th{border:1px solid;
    background-color:#C2DDB6;
    padding: 0.25em 0.25em;   
    width: 67px; 
    height: 10px;
    text-align: center;
    vertical-align: middle;}
#news td{font-size:13px;
    }
#news .foreas{width:40px;font-size:11px;}
#news .desc{width:300px;height:60px;overflow:hidden;}
#news .dep{width:40px;font-size:11px;}
#news .dnews{width:42px;font-size:11px;}
#news .blue{background-color:#91C8FF;}
#news a{float:right;}
.newsingle {margin-top:50px;float:left;}



.gbutton input[type="submit"]{   
    border: solid 0px rgba(3,3,3,1);
   -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
           border-radius: 5px;
    float:right;
   
    background-color:#C2DDB6;
  
    height:25px;
   display: inline-block;
   font-family: arial;
    font-size:13px;
   color: rgba(0,0,0,1);
    margin-top:5px;
}
.gbutton input[type="submit"]:hover {

	background-color:#A9B6A4;
}





.bbutton input[type="submit"]{   
    border: solid 0px rgba(3,3,3,1);
   -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
           border-radius: 5px;
    float:right;
   
    background-color:#E4E4E4;
  width:150px;
    height:25px;
   display: inline-block;
   font-family: arial;
    font-size:13px;
   color: rgba(0,0,0,1);
    margin-top:5px;
}
.bbutton input[type="submit"]:hover {

	background-color:#dfdfdf;
}




#calendar table {
    font: 100% Verdana, Arial, Helvetica, sans-serif;
    table-layout: fixed;
    border-collapse: collapse;
    width: 640px;
    
    }

#calendar .week {
    font: 100% Verdana, Arial, Helvetica, sans-serif;
    table-layout: fixed;
    border-collapse: collapse;
    width: 630px;
    
    
    }

/* Styling for the column headers (days of the week) */
#calendar th {
    padding: 0 0 10px;
    text-align: center;
    color:black;
    font-size:13px;
    
    
    }
/* Styling for the individual cells (days) */
#calendar td  {     
    font-size: medium;
    border:1px solid;
    padding: 0.25em 0.25em;   
    width: 14%; 
    height: 80px;
    text-align: left;
    vertical-align: top;
    }


#calendar .time  {     
  font-size: small;
    border:1px solid;
    padding: 0.25em 0.25em;   
    width: 14%; 
    height:15px;
    text-align: center;
    vertical-align: middle;
    }

#calendar .cday {
    background-color:#D6D6D6;


}




}
#calendar .mlesson{
     border:1px solid;
    border-color:black;
   background-color:#DD901B;
    width: ; 
    height: 10px;
    padding: 0 0 10px;
    color:black;
    font-size:9px;
    cursor:pointer;
}
#calendar .mexam{
   border:1px solid;
    border-color:black;
   background-color:#FFF934;
    width: ; 
    height: 10px;
    padding: 0 0 10px;
    color:black;
    font-size:9px;
    cursor:pointer;
}
#calendar .mdeadline{
   border:1px solid;
    border-color:black;
    background-color:#3CCB81;
    width: ; 
    height: 10px;
    max-height:10px !important;
    padding: 0 0 10px;
    color:black;
    font-size:9px;
    overflow:hidden;
    cursor:pointer;
}
#calendar .mevent{
     border:1px solid;
    border-color:black;
   background-color:#403CCB;
    width:; 
    height: 10px;
    padding: 0 0 10px;
    color:black;
    font-size:9px;
    cursor:pointer;
}
#calendar .mpersonal{
    border:1px solid;
    border-color:black;
   background-color:#CB3C3C;
    width: ; 
    height: 10px;
    padding: 0 0 10px;
    color:white;
    font-size:9px;
    vertical-align :middle;
    text-align:center;
    cursor:pointer;
}
#calendar .mallday{
  border:1px solid;
    border-color:black;
   background-color:#ffffff;
    width: ; 
    height: 10px;
    padding: 0 0 10px;
    color:black;
    font-size:9px;
    
}
#calendar .lesson{
     border:1px solid;
    border-color:black;
   background-color:#DD901B;
    width: 14%; 
    height: 10px;
    padding: 0 0 10px;
    color:black;
    font-size:9px;
    cursor:pointer;
}
#calendar .exam{
   border:1px solid;
    border-color:black;
   background-color:#CB3C3C;
    width: 14%; 
    height: 10px;
    padding: 0 0 10px;
    color:black;
    font-size:9px;
    cursor:pointer;
}
#calendar .deadline{
   border:1px solid;
    border-color:black;
    background-color:#3CCB81;
    width: 14%; 
    height: 10px;
    max-height:10px !important;
    padding: 0 0 10px;
    color:black;
    font-size:9px;
    overflow:hidden;
    cursor:pointer;
}
#calendar .event{
     border:1px solid;
    border-color:black;
   background-color:#403CCB;
    width: 14%; 
    height: 10px;
    padding: 0 0 10px;
    color:black;
    font-size:9px;
    cursor:pointer;
}
#calendar .personal{
    border:1px solid;
    border-color:black;
   background-color:#CB3C3C;
    width: 14%; 
    height: 10px;
    padding: 0 0 10px;
    color:white;
    font-size:9px;
    vertical-align :middle;
    cursor:pointer;
}
#calendar .allday{
  border:1px solid;
    border-color:black;
   background-color:#fffff;
    width: 14%; 
    height: 10px;
    padding: 0 0 10px;
    color:black;
    font-size:9px;
    
}

#calendar .calday{
  width:80px;
}

#content .day{
  width:630px;
    text-align:center;
}


#calendar .dlesson{
    border:1px solid;
    border-color:black;
   background-color:#DD901B;
    width: 14%; 
    height: 22px;
    color:white;
    font-size:9px;
    text-align:center;
    vertical-align:middle;
     padding: 0 0 0 0;
    cursor:pointer;
}
#calendar .dexam{
  border:1px solid;
    border-color:black;
   background-color:#CB3C3C;
    width: 14%; 
    height: 22px;
    color:white;
    font-size:9px;
    text-align:center;
    vertical-align:middle;
     padding: 0 0 0 0;
    cursor:pointer;
}
#calendar .ddeadline{
   border:1px solid;
    border-color:black;
   background-color:#3CCB81;
    width: 14%; 
    height: 22px;
    color:white;
    font-size:9px;
    text-align:center;
    vertical-align:middle;
     padding: 0 0 0 0;
    cursor:pointer;
   
}
#calendar .devent{
     border:1px solid;
    border-color:black;
   background-color:#403CCB;
    width: 14%; 
    height: 22px;
    color:white;
    font-size:9px;
    text-align:center;
    vertical-align:middle;
     padding: 0 0 0 0;
    cursor:pointer;
}
#calendar .dpersonal{
    border:1px solid;
    border-color:black;
   background-color:#CB3C3C;
    width: 14%; 
    height: 22px;
    color:white;
    font-size:9px;
    text-align:center;
    vertical-align:middle;
     padding: 0 0 0 0;
    cursor:pointer;
}
#calendar .dallday{
  border:1px solid;
    border-color:black;
   background-color:#fffff;
    width: 14%; 
    height: 22px;
    color:white;
    font-size:9px;
    text-align:center;
    vertical-align:middle;
     padding: 0 0 0 0;
}





/* Styling for the date numbers */
#calendar .ddate  {     
    font-size: medium;
    padding: 0.25em 0.25em;   
    text-align: left;
    vertical-align: top;
    }
/* Class for individual days (coming in future release) */
#calendar .dsun {
     color:red;
     }
/* Hide the month element (coming in future release) */
#calendar th.dmonth {
    visibility: hidden;
    display:none;
    }

#tools{margin:51px 0 10px 0;}

#right{float:right;}
#right input[type="submit"]{   
    border: solid 0px rgba(3,3,3,1);
   -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
           border-radius: 5px;
   width: 159px;
    height:25px;
   display: inline-block;
   font-family: arial;
    font-size:13px;
   color: rgba(0,0,0,1);
    margin-top:5px;
}
#right input[type="submit"]:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
	background-color:#dfdfdf;
}

#socialbar {padding-left:10px;}
#left-sidebar{float:left;margin-top:10px;}
#caltools{margin:-8px 0 0 10px;}
#caltools img{margin:0 10px 0 10px;}


#right-sidebar{float:right;width:181px;margin-top:10px;margin-right:5px;}
#fastlinks {margin-top:10px;}
#fastlinks h4,h5 {margin-left:25px;margin-bottom: 0px;}
#fastlinks ul {
    margin: 5px 0;
    padding: 0 1em;
    list-style: none;
    margin-left:24px;
}

#fastlinks li {font-size: 13px;font-weight: 500;}
#fastlinks li:before { 
    content:"";
    border-color: transparent #111;
    border-style: solid;
    border-width: 0.35em 0 0.35em 0.45em;
    display: block;
    height: 0;
    width: 0;
    left: -1em;
    top: 0.9em;
    position: relative;
}


#next {color:green;margin-left:26px;margin-top:10px;font-size:15px;line-height:23px;}
-------  adds ---------------------------------------------------------------------

.
-------------- Navigation ----------------------------------------------------------------

#main-menu {width:181px;}
#main-menu .nav-bar { list-style:none; padding:0px;font:15px arial,sans-serif;}
#main-menu .nav-bar li { display:block; padding: 0 10px;margin-top:13px;font-style:italic; }
#main-menu .nav-bar li a {
padding: 10px 2px 3px 30px;
text-decoration: none;

color: #333;

border-left: 2px solid #f00 transparent;
text-align:center;
}

.nav-bar .nav-button-home a { 
    width:24px;
    height: 24px;
    float: :left;
    background:url("images/home.png") no-repeat 2px  ; }
.nav-bar .nav-button-news a {
    width:24px;
    height: 24px;
    float: :left;
    background:url("images/news.png") no-repeat 2px  ; }
.nav-bar .nav-button-events a { 
    width:24px;
    height: 24px;
    float: :left;
    background:url("images/roundpin.png") no-repeat 2px  ; }
.nav-bar .nav-button-feeding a { background:url("images/food.png") no-repeat 2px  ; }
.nav-bar .nav-button-routes a { background:url("images/bus.png") no-repeat 2px  ; }
.nav-bar .nav-button-sales a { background:url("images/sales.png") no-repeat 2px  ; }
.nav-bar .nav-button-maps a { background:url("images/map.png") no-repeat 2px  ; }
.nav-bar .nav-button-calendar a { background:url("images/calendar.png") no-repeat 2px  ; }
.nav-bar li a:hover{
   border-left: 2px solid #f00;
    margin-left:-2px;
}

#current a{border-left:2px solid #f00;margin-left:-2px;}

.kover {cursor:pointer;}

#cm  input[type="submit"]{   
    border: solid 0px rgba(3,3,3,1);
   -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
           border-radius: 5px;
   width: 82px;
    height:25px;
   display: inline-block;
   font-family: arial;
    font-size:13px;
   color: rgba(0,0,0,1);
    margin-top:5px;
    
}
#cm input[type="submit"]:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
	background-color:#dfdfdf;
}

--------------searchmid----------------------------------------------
#searchmid table{font: 11px Verdana, Arial, Helvetica, sans-serif;
    table-layout: fixed;
    border-collapse: collapse;
    width: 631px;}
#searchmid th{border:1px solid;
    background-color:#C2DDB6;
    padding: 0.25em 0.25em;   
    width: 67px; 
    height: 10px;
    text-align: center;
    vertical-align: middle;}
#searchid td{font-size:12px;border-bottom:1px solid gray;
    }
#searchmid .foreas{width:70px;font-size:13px;}
#searchmid .desc{width:550px;height:20px;overflow:hidden;font-size:13px;}
#news .dep{width:40px;font-size:11px;}
#news .dnews{width:42px;font-size:11px;}
#news .blue{background-color:#91C8FF;}
#news a{float:right;}
.newsingle {margin-top:50px;float:left;}



------------Calendar tools------------------------------------------------------------------

input[type=checkbox], input[type=radio] {
    vertical-align: middle;
    position: relative;
    bottom: 1px;
}
input[type=radio] {
    bottom: 2px;
}
.left-event{float:left;}
.right-event{float:right;margin-right:5px;}
.right-event img{box-shadow:0px 0px 4px #000;}

.wishlist{position:absolute;margin:-14px 0px 0px 170px;}


.wishlist input[type="button"]{   
    border: solid 0px rgba(3,3,3,1);
   -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
           border-radius: 5px;
   width: 178px;
    height:27px;
   display: inline-block;
   font-family: arial;
    font-size:13px;
   color: rgba(0,0,0,1);
    text-align:right;
    z-index:99;
}
.wishlist input[type="button"]:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
	background-color:#dfdfdf;
    z-index:99;
}


.mwishlist input[type="button"]{   
    border: solid 0px rgba(3,3,3,1);
   -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
           border-radius: 5px;
   width: 178px;
    height:27px;
   display: inline-block;
   font-family: arial;
    font-size:13px;
   color: rgba(0,0,0,1);
    text-align:right;
    z-index:99;
}
.mwishlist input[type="button"]:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
	background-color:#dfdfdf;
    z-index:99;
}




.ewishlist input[type="submit"]{   
    border: solid 0px rgba(3,3,3,1);
   -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
           border-radius: 5px;
   width: 128px;
    height:27px;
   display: inline-block;
   font-family: arial;
    font-size:13px;
   color: rgba(0,0,0,1);
    text-align:centers;
    z-index:99;
}
.ewishlist input[type="submit"]:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
	background-color:#dfdfdf;
    z-index:99;
}

.ewishlist input[type="button"]{   
    border: solid 0px rgba(3,3,3,1);
   -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
           border-radius: 5px;
   width: 128px;
    height:27px;
   display: inline-block;
   font-family: arial;
    font-size:13px;
   color: rgba(0,0,0,1);
    text-align:centers;
    z-index:99;
}
.ewishlist input[type="button"]:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
	background-color:#dfdfdf;
    z-index:99;
}
----------------Login form--------------------------------------------------------------------

#loginplace {margin-top:10px;}
#logged {height: 64px;margin:30px 0 0 25px;}
#login form { margin: 0 25px; position: relative }
#login form input[type="text"],
#login form input[type="password"] {
    
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0,0,0,0.08) inset;
	-moz-box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0,0,0,0.08) inset;
	-ms-box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0,0,0,0.08) inset;
	-o-box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0,0,0,0.08) inset;
	box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0,0,0,0.08) inset;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	background: #eae7e7 url(http://cssdeck.com/uploads/media/items/8/8bcLQqF.png) no-repeat;
	border: 1px solid #c8c8c8;
	color: #777;
	font: 13px Helvetica, Arial, sans-serif;
	margin:0 10px 5px 0;
	padding: 10px 10px 10px 39px;
	width: 80%;
}
#login form input[type="text"]:focus,
#login form input[type="password"]:focus {
	-webkit-box-shadow: 0 0 2px #ed1c24 inset;
	-moz-box-shadow: 0 0 2px #ed1c24 inset;
	-ms-box-shadow: 0 0 2px #ed1c24 inset;
	-o-box-shadow: 0 0 2px #ed1c24 inset;
	box-shadow: 0 0 2px #ed1c24 inset;
	background-color: #fff;
	border: 1px solid #ed1c24;
	outline: none;
}
#e-mail { background-position: 10px 7px !important }
#password { background-position: 10px -58px !important }
#login form input[type="submit"]{   
    border: solid 0px rgba(3,3,3,1);
   -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
           border-radius: 5px;
   width: 155px;
    height:25px;
   display: inline-block;
   font-family: arial;
    font-size:13px;
   color: rgba(0,0,0,1);
}
#login form input[type="submit"]:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
	background-color:#dfdfdf;
}


--------------------------------------events---------------------------------------------------



#eventlist {
    font: 100% Verdana, Arial, Helvetica, sans-serif;
    table-layout: fixed;
    border-collapse: collapse;
    width: 630px;
    
    
    }


.tribe-events-event-meta-desc {
	font-weight:bold;
	padding-right:12px;
	width:64px;
}

#tribe-events-event-meta .gmap, .tribe-events-event-meta-desc .gmap {
	color:#fff;
	font-size:9px;
	background:#004080;
	padding:1px 4px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	white-space:nowrap;
}

.events-archive .entry-title a, .tribe-events-event-meta-desc, .tribe-events-event-day {
	color:#333;
}

.tribe-events-events .tribe-events-event-list-meta {
	float:right;
	border-left:1px solid #ccc;
	padding:0 0 0 4%;
	width:30%;
	font-size:12px;
	margin-bottom:20px;
}
.tribe-events-event-list-meta table {border-collapse:collapse; border: 0 !important;}
.tribe-events-event-list-meta tr { border: 0 !important; }
.tribe-events-event-list-meta td {
	vertical-align:top;
	padding: 0 0 4px 0 !important;
	text-align:left;
	border: 0 !important;
	background-color: white;
}

 .entry-title  a{;color:#333;}

.post-399{float:left;}
.entry-content tribe-events-event-entry{float:left;font-size:14px;width:400px;}
.venue-events .entry-title {
	color: #333; 
	text-decoration: none; 
	font-size: 18px;
	margin: 15px 0 6px;
	padding: 0;
	line-height: 1em;
	font-weight: bold;}
. tribe-events-event-entry{float:left;}

.single-tribe_venue .upcoming .entry-title, .events-archive .upcoming .entry-title {
	margin:15px 0 6px;
	font-size:18px;
	font-weight:bold;
	line-height: 1em;
	padding: 0;
}
.events-archive .event-day, .single-tribe_venue .event-day, .venue-events .event-day {
	font-size:18px;
	margin-top:18px !important;
	font-style:italic;
}
.events-archive .event-day, .single-tribe_venue .event-day, .venue-events .event-day {
	font-size:18px;
	margin-top:18px !important;
	font-style:italic;
}
.events-archive .entry-title a, .tribe-events-event-meta-desc, .tribe-events-event-day {
	color:#333;
}
.events-archive .hentry {
	margin:0;
	padding: 0 0 15px 0 !important;
}
.events-archive .entry-title a, .tribe-events-event-meta-desc, .tribe-events-event-day {
	color:#333;
}

.singular .tribe-events-event.hentry {
	padding-top: 1em !important;
}





------------- Search ----------------------------------------------------------------------------


#tfnewsearch{
		float:right;
		padding:20px;
        
	}
.tftextinput2{
		margin: 0;
		padding: 5px 15px;
		font-family: Arial, Helvetica, sans-serif;
		font-size:14px;
		color:#666;
		border:1px solid #0076a3; border-right:0px;
		border-top-left-radius: 5px 5px;
		border-bottom-left-radius: 5px 5px;
	}
.tfbutton2 {
		margin: 0;
		padding: 5px 7px;
		font-family: Arial, Helvetica, sans-serif;
		font-size:14px;
		font-weight:bold;
		outline: none;
		cursor: pointer;
		text-align: center;
		text-decoration: none;
		color: #ffffff;
		border: solid 1px #0076a3; border-right:0px;
		background: #0095cd;
		background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5));
		background: -moz-linear-gradient(top,  #00adee,  #0078a5);
		border-top-right-radius: 5px 5px;
		border-bottom-right-radius: 5px 5px;
	}
.tfbutton2:hover {
		text-decoration: none;
		background: #007ead;
		background: -webkit-gradient(linear, left top, left bottom, from(#0095cc), to(#00678e));
		background: -moz-linear-gradient(top,  #0095cc,  #00678e);
	}
	/* Fixes submit button height problem in Firefox */
.tfbutton2::-moz-focus-inner {
	  border: 0;
	}
.tfclear{
		clear:both;
	}

------------------------------------------------------------------------------------
